body {
    margin: 0;
    padding: 0;
}

:root {
    --main: #3DBCB2;
    --secondary: #F54632;
    --light: #FBC83B;
    --dark: #333;
}

.navbar {
    background-color: var(--dark);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.home-btn {
    text-decoration: none;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 70px;
    padding-left: 1rem;
}

.logo h1 {
    margin-left: 0.8rem;
}

.navbar-links {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: white;
    padding: 2rem 1rem;
    display: block;
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.3rem;
}

#register {
    color: var(--light);
}

.navbar-links li a:hover{
    background-color: var(--secondary);
}

.toggle-button {
    position: absolute;
    top: 2.5rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 35px;
    height: 25px;
}

.toggle-button .bar {
    height: 4px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}


@media (max-width: 800px) {
    .logo h1 {
        font-size: 1rem
    }
    .logo img {
        padding: .5rem 0 .5rem .5rem;
    }
    .toggle-button {
        display: flex;
        top: 1.5rem;
        right: 1rem;
    }
    .navbar-links {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }
    .navbar-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links.active {
        display: flex;
    }
}

h1 {
    font-family: 'Fjalla One', sans-serif;
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 150px; 
}

.title {
    border-bottom: none;
}

.title h1 {
    margin: 0;
    padding: 0;
}

#title-main {
    font-size: 5rem;
    color: #3DBCB2;
}

#title-secondary {
    font-size: 2rem;
    max-width: 70%;
    color: #3DBCB2;
    padding-bottom: 2rem;
    border-bottom: 3px solid var(--main);
}

.banner-text p {
    font-size: 1.2rem;
    width: 70%;
}

.banner-text a {
    color: var(--main);
    text-decoration: none;
}

.banner-text a:hover {
    color: var(--light);
}

.important-p {
    color: var(--secondary);
}

.banner-img img {
    width: 350px;
    padding-left: 2rem;
}

.presenter-logos {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
}
.presenter-logos img {
    width: 200px;
}

.register-btn {
    background-color: var(--light);
    color: black !important;
    border: none;
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.5rem;
    margin: 1.5rem 0;
    padding: 10px 25px;
    border-radius: 10px;
    cursor: pointer;
}

.register-btn:hover {
    background-color: var(--main);
}

@media (max-width: 1030px) {
    #title-main {
        font-size: 4rem;
    }
}

@media (max-width: 900px) {
    #title-main {
        font-size: 3rem;
    }
    #title-secondary {
        font-size: 1.2rem;
        max-width: 90%;
    }
    .banner-img {
        padding: 0;
    }
}

@media (max-width: 850px) {
    .banner {
        display: block;
        margin-top: 110px;
    }
    #title-main {
        font-size: 4rem;
        padding-bottom: 1rem;
    }
    #title-secondary {
        font-size: 1.5rem;
    }
    .banner-text p {
        width: 100%;
    }
    .banner-img {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .banner-img img {
        width: 80%;
        padding: 2rem 0;
    }
    .presenter-logos img {
        width: 80%;
    }
}

@media (max-width: 600px) {
    #title-main {
        font-size: 2.3rem;
    }
    #title-secondary {
        max-width: 300px;
        font-size: 1.2rem;
        padding-bottom: 1rem;
    }
    .banner-text p {
        width: 100%;
    }
    #title-secondary {
        border-bottom: none;
    }
}

.section-heading {
    font-family: 'Fjalla One', sans-serif;
    color: var(--secondary);
    padding-bottom: 0.8rem;
    border-bottom: 3px solid var(--secondary);
    font-size: 3rem;
}

.about-details {
    display: flex;
    gap: 3rem;
}

.about-details p {
    flex: 1;
    box-sizing: border-box;
}
.sponsors h2 {
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
}

@media (max-width: 900px) {
    .about-details {
        display:block;
    }
}

.schedule-content h3 {
    font-size: 2rem;
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    color: var(--secondary);
}

.schedule-content a {
    color: var(--main);
}

.schedule-content a:hover {
    color: var(--light);
}

.person {
    margin-bottom: 5rem;
}

.person-id {
    text-align: center;
}

.person img {
    width: 250px;
    border: 1px solid var(--dark);
}

.person-id h3 {
    margin: 0;
    font-size: 1.4rem;
    font-family: 'Fjalla One', sans-serif;
}
.person-bio {
    max-width: 700px;
    margin: 0 auto;
}

.secondary-organizers {
    max-width: 700px;
    margin: 0 auto;
}

.secondary-organizers h2{
    text-align: center;
    font-family: 'Fjalla One', sans-serif; 
}



footer {
    margin: 180px 0 0 0;
    padding: 0;
    background-color: var(--dark);
}
.footer-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    color: white;
    padding: 2rem 1rem 2rem 1rem;
}

.footer-content {
    display: flex;
    align-items: flex-start;
}
.footer-content div {
    flex: 1;
}

footer h1 {
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

.footer-content p {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 300;
}

.footer-links {
    display: flex;
    justify-content: space-evenly;
}

.footer-links ul {
    padding: 0;
    margin: 14px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-links li {
    list-style: none;
}

footer a {
    color: white;
    font-family: 'Lato', sans-serif;
}

.footer-links a {
    font-size: 14px;
    font-weight: 300;
}

footer a:hover {
    color: var(--light)
}

@media (max-width: 600px) {
    .footer-content {
        display: block;
    }
    .footer-links {
        justify-content: left;
        gap: 70px;
    }
}